<%= link_to @button.path, data: { remote: true, method: :post, "disable-with": @button.disabled_text }, class: "btn btn-primary" do %>
  <% if @button.show_test_variation_icon? %>
    <span>👍</span>
  <% end %>
  <%= @button.text %>
<% end %>